/*Header*/
#headercontainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 66px;
  background-color: grey;
}

#logo {
  width: 24em;
  position: absolute;
  margin-left: 35%;
  margin-right: 50%;
  height: auto;
  background-color: ;
  height: inherit;
  z-index: ;
}

#logo>h1 {
  color: white;
  font-family: 'Sedgwick Ave', cursive;
  font-size: 5.4em;
  margin-top: 0;
}

#Menucontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 27px;
  margin-left: auto;
  height: auto;
  width: auto;
}

.MenuIcon {
  border-style: solid;
  margin-top: auto;
  height: 35px;
  width: auto;
  background-color: grey;
}

#searchicon>img {
  height: 30px;
}

#searchbar {
  display: none;
  margin-top: auto;
  height: 30px;
  width: 180px;
  border-style: solid;
  border-radius: 6px;
  background-color: lightgrey;
  animation: searchbarpopup 0.5s 1;
  z-index: +1;
}

@keyframes searchbarpopup {
  0% {
    width: 0;
  }
  100% {
    width: 180px;
  }
}

.MenuIcon>img {
  height: 30px;
  width: 35pX;
}
#languagecontainer{
      width:auto;
      position:absolute;
      flex-direction: row;
      flex-wrap: wrap;
      max-height:25px;
      right:60px;
      display:none;
      animation: languagebarpopup 0.5s 1;
}

@keyframes languagebarpopup {
  0%{
    opacity:0;
  }
  100%{
    opacity:100;
  }
}

.languageselecticons{
  display:flex;
  border-style: solid;
  height: 26px;
  width: auto;
  background-color: grey;
  margin-left:auto;
}
.languageselecticons>img {
  height:15px;
  width:auto;
  }
