/*Header*/

#headercontainer{
  position:relative;
  display:flex;
  flex-wrap: wrap;
  width:100%;
  height:66px;
  background-color: grey;

}
#logo{
  width:24em;
  position:absolute;
  margin-left:35%;
  margin-right:50%;
height:auto;
background-color:;
height:inherit;
z-index:;
}
#logo > h1 {
  
  color:white;
  font-family: 'Sedgwick Ave', cursive;
  font-size:5.4em;
  margin-top:0;
}
#Menucontainer{
display:flex;
flex-direction: row;
flex-wrap:wrap;
margin-top:27px;
margin-left:auto;
height:auto;
width:auto;

}
.MenuIcon{
border-style:solid;
margin-top:auto;
height:35px;
width:auto;
background-color:grey;
}
#searchicon > img{
  height:30px;
}
#searchbar{
  display:none;
  margin-top:auto;
  height:30px;
  width:180px;
  border-style:solid;
  border-radius:6px;
  background-color:lightgrey;
  animation: searchbarpopup 0.5s 1;

}
@keyframes searchbarpopup {
0%{
    width:0;
}
100%{
    width:180px;
}
}
#languageicon > img{

height:30px;
width:35pX;
}
#membericon > img{

  height:30px;
  width:35px;
}
#favouriteicon > img{

  height:30px;
  width:35px;
}
#shoppincardicon > img{

  height:30px;
  width:35px;
}
